_build
*agdai
\#*
\.\#*
html
*.glob
*.vo
*.vok
*.vos
.*.aux
.*.cache
.depend_coq
*~
NestedCoq/Makefile
NestedCoq/Makefile.conf
*.aux
*.fdb_latexmk
*.fls
*.log
*.ptb
*.synctex.gz
*.bbl
*.blg
*.out
*.vtc
